body{
    background-color: rgb(14 14 14) !important;
}


.parpadea {
    animation-name: parpadeo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.50; }
    100% { opacity: 0.25; }
  }

  @media (max-width: 766px) {
    .mobile{
      justify-content: center;
    }
    .text-mobile{
      font-size: 15px;
    }
    .icon-mobile img{
      width: 25px;
    }
  }
