body{
    background-color: rgb(14 14 14) !important;
}


.parpadea {
    animation-name: parpadeo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.50; }
    100% { opacity: 0.25; }
  }

  .effect{
    background-color: #3d3c27;
    background-image: linear-gradient(45deg, #cbd2d8, #080707);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
